.content__small-card {
    width: 180px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.div-points {
    display: flex;
    justify-content: flex-end;
}

.div-points span {
    background-color: #f6f6f7af;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    color: #000000;
    border: 2px solid #f5f5f5;
}