<div class="container__content">
    <div class="container__menu-bar">
        <app-menu-bar urlPhoto="https://pontodamulher.com.br/sites/default/files/2022-10/foto-de-perfil-tres-dicas-fundamentais-para-transmitir-imagem-que-deseja.jpg"></app-menu-bar>
    </div>

    <div class="container__cover" style="background-image: url('{{contentPhoto}}')">
        <h2>The most beautiful places in the world!</h2>
        <p>Plan your vocation on the most beautiful places in the world.</p>
    </div>

    <div class="container__title-description">
        <h1>{{contentTitle}}</h1>
        <p>{{contentDescription}}</p>
    </div>

    <div class="container__artigo">
        <p>{{contentArtigo}}</p>
        <app-offer-card></app-offer-card>
    </div>

    <div class="container__menu-category">
        <app-menu-category></app-menu-category>
    </div>

    <div class="container__carrosel">
        <app-small-card-img 
            Id="1"
            points="4.8"
            title="Alaska"
            description="Alasca, um dos 50 estados dos Estados Unidos"
            urlPhoto="https://i.pinimg.com/736x/f8/b3/35/f8b3353ccb182fd63c16a085112bdce1.jpg"
        >
        </app-small-card-img>
        <app-small-card-img 
            Id="2"
            points="5.0"
            title="Iceland"
            description="País nórdico insular europeu"
            urlPhoto="https://static.wixstatic.com/media/df9fb8_b1510fc657d94cef9e05566a6f7a8167~mv2.jpg/v1/fill/w_1000,h_773,al_c,q_85,usm_0.66_1.00_0.01/df9fb8_b1510fc657d94cef9e05566a6f7a8167~mv2.jpg"
        >
        </app-small-card-img>
        <app-small-card-img
            Id="3"    
            points="4.7"
            title="Albuquerque"
            description="O sol brilhante define a região"
            urlPhoto="https://images.rove.me/w_1920,q_85/goma3vpttqvrhqyugjvi/mexico-festival-del-globo-international-balloon-festival.jpg"
        >
        </app-small-card-img>
    </div>
</div>
