<div class="container__home">
    <app-big-card-img 
        title="The most beautiful places in the world!" 
        text="Plan your vocation on the most beautiful places in the world."
        url="https://p1.pxfuel.com/preview/827/712/1020/mountains-alaska-landscape-wilderness.jpg"
        >
    </app-big-card-img>
    <section class="container__section">

        <div class="container__menu-bar">
            <app-menu-bar></app-menu-bar>
        </div>
        
        <div class="container__menu-category">
            <app-menu-category></app-menu-category>
        </div>
        
        <div class="container__small-card">
            <app-small-card-img></app-small-card-img>
            <app-small-card-img></app-small-card-img>
            <app-small-card-img></app-small-card-img>
        </div>
        
        <h2>Types of Travel</h2>
        <div class="container__btns-img">
            <app-button-img text="All"></app-button-img>
            <app-button-img text="All"></app-button-img>
            <app-button-img text="All"></app-button-img>
        </div>

    </section>
</div>