<div class="container__big-card-img" style="background-image: url('{{urlPhoto}}');">
    <h3>TooTravel</h3>
    <div class="title-text-btn">
        <h2>{{title}}</h2>
        <p>{{textDescription}}</p>
        <app-button content_btn="Get Started"></app-button>
    </div>
    <nav class="container__nav">
        <ul>
            <li>01</li>
            <li class="line"></li>
            <li class="line"></li>
            <li class="line"></li>
            <li>03</li>
        </ul>
    </nav>
</div>
