<div class="container__offer-card">
    <div class="content__info">
        <h1>Alaska</h1>
        <app-button-img
            text="Solo"
            urlPhoto="https://i.pinimg.com/474x/35/c4/58/35c458a849e8545a52d0b8b0d668cece.jpg"
        ></app-button-img>
        <ul>
            <li>beneficio 1</li>
            <li>beneficio 2</li>
            <li>beneficio 3</li>
            <li>beneficio 4</li>
        </ul>
    </div>
    <div class="content__price">
        <p><span>$240.00</span></p>
    </div>
    
</div>
